<%include partials/layout%>
<div class="container">
 <div class="row">
 <h1 style="padding-left:35%">LogIn </h1>
 <hr>
 <div style="width:30%;margin:0  auto;">
<form action="/login" method="POST">
  <p>
  <input class="thumbnail" type="text" name="username" placeholder="username">
  </p>

 <p>
 <input class="thumbnail" type="password" name="password" placeholder="password">
</p>
<p>
<p class="full">
   <button type="submit" class="btn btn-info">Submit</button>
</form>
 </div>
       </div>
</div>
